<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       <span>
        <a class="navbar-brand" href="/"></a>
           <a href="/"><img src="/images/spotify-logo.png" alt="" class="me-2 mb-3"style="height: 50px;"></a> 
            <span class="d-none d-lg-inline  fs-3 fw-bold"> <a href="/" class="text-decoration-none text-light">i S p u t i p l <i class="fs-4 fas fa-play spotify-color"></i> y </a> </span>
        </a>
       </span>
       <form class="d-flex mx-auto my-2 my-lg-0" role="search" style="max-width: 500px; flex-grow: 1;" action="/mySong" method="GET" >
        <input class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search" name="key">
        <button class="btn btn-search" type="submit">Search</button>
    </form>
    </div>
</nav>
