<div class="bg-dark sidebar h-100 rounded-2 ">
    <a href="/" class="fs-5 ms-3"><i class="fas fa-home me-2"></i> Home</a>
    <a href="/favourites" class="fs-5 ms-3"><i class="fas fa-heart me-2"></i> Favourites</a>
    <a href="/mySongs" class="fs-5 ms-3"><i class="fas fa-music me-2" ></i> My Songs</a>
</div>